.facilities {
  @include section-container(80%, 100px);
  .row {
    @include row-css;
    .facilities-col {
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      img {
        width: 100%;
        display: block;
        border-radius: 10px;
      }
      p {
        padding: 0;
      }
      h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
      }
    }
  }
}
