@import "./nav";
.header {
  min-height: 100vh;
  width: 100%;
  @include background-image("../../assets/images/banner.png", 4, 9, 30, 0.7);
  position: relative;

  .text-box {
    width: 90%;
    color: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      @include h1(62px);
    }
    p {
      margin: 10px 0 40px;
      font-size: 14px;
      color: $main-color;
    }
    .hero-btn {
      @include hero-btn($main-color);
    }
  }
}
