<section class="sub-header">
  <nav>
    <a href="#"><img src="../assets/images/logo.png" /></a>
    <div class="nav-links" #nav>
      <i class="fa"> <fa-icon [icon]="close" (click)="hideMenu()"></fa-icon></i>

      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/about">ABOUT</a></li>
        <li><a routerLink="/course">COURSE</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>
    <i class="fa"> <fa-icon [icon]="faBars" (click)="showMenu()"></fa-icon></i>
  </nav>
  <h1>Our Certificates & Online Program For 2022</h1>
</section>

<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <img src="../../assets/images/certificate.jpg" />
      <h2>Our Certificates & Online Program For 2022</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>

      <div class="comment-box">
        <h3>Leave comment</h3>
        <form class="comment-form">
          <input type="text" placeholder="Enter Name" />
          <input type="text" placeholder="Enter Email" />
          <textarea rows="5" id="" placeholder="Your Comment"></textarea>
          <button type="submit" class="hero-btn">Post Comment</button>
        </form>
      </div>
    </div>
    <div class="blog-right">
      <h3>Post Categories</h3>
      <div>
        <span>Business Analytics</span>
        <span>21</span>
      </div>
      <div>
        <span>Data Science</span>
        <span>21</span>
      </div>
      <div>
        <span>Machine Learning</span>
        <span>21</span>
      </div>
      <div>
        <span>Business Analytics</span>
        <span>21</span>
      </div>
      <div>
        <span>Computer Science </span>
        <span>21</span>
      </div>
      <div>
        <span>Business Analytics</span>
        <span>21</span>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <h4>About Us</h4>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing<br />
    industries for previewing layouts and visual mockups.
  </p>
</section>
