<section class="header">
  <nav>
    <a href="#"><img src="../assets/images/logo.png" /></a>
    <div class="nav-links" #nav>
      <i class="fa"> <fa-icon [icon]="close" (click)="hideMenu()"></fa-icon></i>

      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/about">ABOUT</a></li>
        <li><a routerLink="/course">COURSE</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    <i class="fa"> <fa-icon [icon]="faBars" (click)="showMenu()"></fa-icon></i>
  </nav>
  <div class="text-box">
    <h1>World Biggest University</h1>
    <p>
      Making website is now one of the easiest thing in the world. You just need
      to learn HTML ,CSS, <br />Javascript and you are good to go.
    </p>
    <a href="" class="hero-btn">Vist Us To Know More.</a>
  </div>
</section>

<section class="courses">
  <h1>Courses We offer</h1>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing industries for previewing layouts and visual mockups.
  </p>
  <div class="row">
    <div class="course-col">
      <h3>Intermediate</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
    <div class="course-col">
      <h3>Degree</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
    <div class="course-col">
      <h3>Post Graduation</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
  </div>
</section>

<section class="campus">
  <h1>Our global Campus</h1>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing industries for previewing layouts and visual mockups.
  </p>
  <div class="row">
    <div class="campus-col">
      <img src="../assets/images/washington.png" />
      <div class="layer">
        <h3>WASHINGTON</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../assets/images/newyork.png" />
      <div class="layer">
        <h3>NEW YORk</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../assets/images/london.png" />
      <div class="layer">
        <h3>LONDON</h3>
      </div>
    </div>
  </div>
</section>

<section class="facilities">
  <h1>Our facilities</h1>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing industries for previewing layouts and visual mockups.
  </p>
  <div class="row">
    <div class="facilities-col">
      <img src="../assets/images/library.png" />
      <h3>World Class library</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
    <div class="facilities-col">
      <img src="../assets/images/basketball.png" />
      <h3>Largest Play ground</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
    <div class="facilities-col">
      <img src="../assets/images/cafeteria.png" />
      <h3>Tasty and Healthy food</h3>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
  </div>
</section>

<section class="testimonials">
  <h1>What Our Student Says</h1>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing industries for previewing layouts and visual mockups.
  </p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../assets/images/user1.jpg" alt="" />
      <div>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries for previewing layouts and visual mockups.
        </p>
        <h3>Christine Brakleys</h3>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../assets/images/user2.jpg" alt="" />
      <div>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries for previewing layouts and visual mockups.
        </p>
        <h3>David Byer</h3>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <h1>
    Enroll for our various online courses <br />
    from the world
  </h1>
  <a class="hero-btn" href=""> CONTACT US</a>
</section>

<section class="footer">
  <h4>About Us</h4>
  <p>
    Lorem ipsum is placeholder text commonly used in the graphic, print, and
    publishing <br />industries for previewing layouts and visual mockups.
  </p>
</section>
